.submit-form {
    display: flex;
    flex-direction: column;
}

.submit-form input {
    width: 100%;
    font-size: 1.45rem;
    background-color: transparent;
    color: #fff;
    padding: 1rem 0;
    border: none;
    outline: none;
    border-bottom: 0.1rem solid var(--divider);
}

.submit-form input::placeholder {
    color: var(--placeholder);
}

.submit-form button {
    margin: 1rem 0 0 auto;
}
/*
<form onSubmit={ submit } className="submit-form">
            <input placeholder="What's happening?" id="post-input" name="post-input" />
            <button>Tweet</button>
        </form>
*/